{% style %}
  .featured_collection {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media (max-width: 767px) {
    .featured_collection {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<div class="featured_collection color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  <section class="main-content">
    <div class="main-container featured-product-main">

      {% if section.settings.heading != blank or section.settings.content-inner != blank %}
      <div class="main_section_head">
        {% if section.settings.heading != blank %}
        <h2 class="heading">{{ section.settings.heading }}</h2>
        {% endif %}
        {% if section.settings.content-inner != blank %}
        {{ section.settings.content-inner }}
        {% endif %}
      </div>
      {% endif %}

      {% if section.settings.collection_id != blank %}
      <div class="featured-product-row responsive_slick">
        {%- assign collection = section.settings.collection_id -%}
        {% for product in collections[collection].products %}
        <div class="featured-product-inner-section">
          {% render 'card-product'
          , product: product
          , collection: collection %}
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="featured-product-row placeholder">
        <div class="featured-product-url placeholder">
          <div class="featured-product-img">
            {{ 'product-1' | placeholder_svg_tag }}
          </div>
          <div class="main-product-content">
            <div class="featured-product-title">
              <h3 class="title">Example of Product</h3>
            </div>
          </div>
        </div>

        <div class="featured-product-url placeholder">
          <div class="featured-product-img">
            {{ 'product-2' | placeholder_svg_tag }}
          </div>
          <div class="main-product-content">
            <div class="featured-product-title">
              <h3 class="title">Example of Product</h3>
            </div>
          </div>
        </div>

        <div class="featured-product-url placeholder">
          <div class="featured-product-img">
            {{ 'product-3' | placeholder_svg_tag }}
          </div>
          <div class="main-product-content">
            <div class="featured-product-title">
              <h3 class="title">Example of Product</h3>
            </div>
          </div>
        </div>

        <div class="featured-product-url placeholder">
          <div class="featured-product-img">
            {{ 'product-4' | placeholder_svg_tag }}
          </div>
          <div class="main-product-content">
            <div class="featured-product-title">
              <h3 class="title">Example of Product</h3>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </section>
</div>


{% schema %}
{
"name": "collection Product",
"settings": [
{
"type": "color_scheme",
"id": "color_scheme",
"label": "Color Scheme",
"default": "scheme-1"
},
{
"type": "range",
"id": "padding_top",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "Padding Top",
"default": 36
},
{
"type": "range",
"id": "padding_bottom",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "Padding Bottom",
"default": 36
},
{
"type": "text",
"id": "heading",
"label": "Collection",
"default": "Heading"
}, {
"type": "text",
"id": "content-inner",
"label": "Collection",
"default": "Content"
}, {
"type": "collection",
"id": "collection_id",
"label": "Collection"
}, {
"type": "checkbox",
"id": "second_img",
"label": "Enable to on hover Second Image"
},
{
"type": "checkbox",
"id": "compare_product",
"label": "Compare Prouct"
}
],
"presets": [
{
"name": "collection Product"
}
]
}
{% endschema %}